.navbar {
    display: flex;
    align-items: center;
    background-color: darkolivegreen;
}

.navbar li {
    font-size: 17px;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 40px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.testfont {
  color: black;
  text-align: center;
}

.list-container {
    margin-top: 40px;
    margin-left: 40px;
}

ul{
    list-style-type: none;
    padding: 0;
}